@import "../../styles/var.scss";

.cart {
  flex: 9;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  background: url(../../images/bookcase.png);

  .removeAllButton {
    width: 100px;
    margin-top: 15px;
    align-self: flex-end;
    text-wrap: nowrap;
  }

  .emptyCart {
    font-size: 30px;
    text-align: center;

    .cartIcon {
      margin-top: 50px 0;
      font-size: 70px;
      text-align: center;
      justify-content: center;
    }
  }

  button {
    width: 80px;
    height: 35px;
    font-size: 18px;
    text-align: center;
    border: 1px solid $redColor;
    color: $redColor;
    border-radius: 4px;
    background-color: transparent;

    &:hover {
      color: #ffffff;
      background-color: $redColor;
    }
    &:disabled:hover {
      color: $redColor;
      background-color: transparent;
      pointer-events: none;
    }
  }

  .cart_bookWrapper {
    margin-bottom: 15px;
    background: rgba(221, 194, 124, 0.6);
    font-size: 18px;
    align-items: center;
    text-align: center;

    .mainBookInfa p:nth-child(2),
    .mainBookInfa p:nth-child(3) {
      font-size: 16px;
    }

    input {
      border: 1px solid $redColor;
      border-radius: 4px;
      background-color: transparent;
    }
  }

  .totalPrice {
    font-size: 25px;
    background: rgba(221, 194, 124, 0.8);
    border-radius: 4px;
    text-align: center;
    margin-bottom: 50px;
  }

  @media screen and (min-width: 768px) {
    .cart_bookWrapper {
      font-size: 22px;
    }
  }

  @media screen and (min-width: 1000px) {
    button {
      width: 150px;
      height: 50px;
    }
  }
}
