@import "../../styles/var.scss";

.signin_content {
  padding: 20px 0 0;
  background-color: $blackColor;

  .signin_content_hero {
    background-image: url(/images/holy-bible-with-rays-light-coming-out-ai-generative.jpg);
    background-size: 600px;
    min-height: 90vh;
    background-position: center;
    background-repeat: no-repeat;

    .signin_form {
      padding-top: 40px;
      display: flex;
      flex-direction: column;
      text-align: center;
      color: $brandColor;

      i {
        color: $brandColor;
        font-size: 50px;
        margin-bottom: 15px;
      }

      input {
        text-align: center;
        font-family: $brandFont;
        width: 200px;
        border: 2px solid $brandColor;
        border-radius: 5px;
        margin-bottom: 10px;
        margin: 0 auto 15px;
      }

      button {
        width: 100px;
        border: 2px solid $brandColor;
        border-radius: 5px;
        background-color: #faef8c;
        text-align: center;
        margin: 0 auto;
        color: $blackColor;
        font-weight: 700;
        -webkit-box-shadow: 10px 10px 18px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 18px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 10px 10px 18px 0px rgba(0, 0, 0, 0.75);
      }
    }
  }
}
