@import "../../styles/var.scss";

.signin {
  flex: 9;
  padding: 40px 0 0;
  background-color: $blackColor;

  .signin_hero {
    background-image: url(/images/holy-book.jpg);
    background-size: 600px;
    height: 75vh;
    background-position: center;
    background-repeat: no-repeat;

    .signin_form {
      padding-top: 40px;
      display: flex;
      flex-direction: column;
      text-align: center;
      color: $brandColor;

      i {
        color: $brandColor;
        font-size: 50px;
        margin-bottom: 15px;
      }

      input {
        text-align: center;
        font-family: $brandFont;
        width: 200px;
        border: 2px solid $brandColor;
        border-radius: 5px;
        margin-bottom: 10px;
        margin: 0 auto 15px;
      }

      button {
        width: 150px;
        border: 2px solid $brandColor;
        border-radius: 5px;
        background-color: $brandColor;
        text-align: center;
        margin: 0 auto;
        color: $blackColor;
        font-weight: 700;
        -webkit-box-shadow: 10px 10px 18px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 18px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 10px 10px 18px 0px rgba(0, 0, 0, 0.75);
      }
    }
  }
  @media screen and (min-width: 800px) {
    .signin_hero {
      background-size: 800px;
      height: 70vh;
    }
  }

  @media screen and (min-width: 1024px) {
    h1 {
      font-size: 95px;
    }

    .signin_form {
      i {
        font-size: 60px;
      }

      label,
      button,
      input {
        font-size: 20px;
      }
    }
  }
}
