@import "../../styles/var.scss";

.bookList {
  background-image: url(/images/bookcase-dark.jpg);
  background-repeat: repeat;
  background-size: contain;
  min-height: 700px;
  color: $brandColor;
  padding-top: 70px;
  
  label,
  select {
    font-size: 18px;
  }

  input,
  select {
    padding: 10px;
    border-radius: 4px;
    color: $blackColor;
    margin: 10px;
  }
  
  form {
    margin-bottom: 30px;
  }
}





