@import "../../styles/var.scss";

.header {
  background-color: $brandColor;
  display: flex;
  justify-content: space-evenly;
  // color: $brandColor;

  a {
    color: $blackColor;
    text-decoration: none;
  }
}
