@import "../../styles/var.scss";

.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  flex: 0.5;
  background-color: $brandColor;
  display: flex;
  justify-content: space-evenly;

  a {
    color: $blackColor;
    text-decoration: none;
  }
}
