@import "../../styles/var.scss";

.navbar {
  flex: 0.25;
  background-color: $brandColor;
  color: $blackColor;
  display: flex;
  justify-content: flex-end;
  font-size: 22px;

  .cart_icon {
    position: relative;

    .cart_counter {
      position: absolute;
      left: 6px;
      top: 0.5px;
      font-size: 12px;
      font-weight: 700;
      padding: 2px 4px;
      color: $redColor;
      border-radius: 50%;
    }
  }

  p,
  a {
    margin: 0 15px;
  }

  @media screen and (min-width: 800px) {
    font-size: 35px;
    .cart_icon {
      .cart_counter {
        font-size: 13px;
        left: 12px;
        top: 3px;
      }
    }
  }
}
