@import "../../styles/var.scss";

.book {
  box-shadow: $box-shadow;
  justify-content: center;
  
    .bookIcon {
      display: flex;
      flex-direction: column;
    }

    .button {
    display: block;
    box-shadow: $box-shadow;
  }
}

